.productCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.productOutline {
  position: relative;
  width: 95%;
  height: 500px;
  background: rgb(246, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  overflow: hidden; /* This ensures the image doesn't spill out */
}

.cardImage {
  width: 100%;
  height: 100%;
}

.productRoast #roastIcon {
  font-size: 20px;
  letter-spacing: 2px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This makes the image cover the container while maintaining aspect ratio */
  object-position: center; /* Centers the image */
}

.productInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.productName {
  font-weight: bold;
  font-size: 1.1rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
}

.productFlavor {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.productRegion {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

.productRoast {
  color: #666;
  font-size: 16px;
}

.Price {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: fadeIn 0.3s ease forwards;
}

.description-content {
  color: white;
  padding: 20px;
  text-align: center;
}

.description-content h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.description-content p {
  margin: 8px 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart-button {
  position: absolute;
  bottom: 20px;
  left: 20%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #140906(97, 20, 20);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
}

.cart-button:hover {
  background-color: #f0f0f0;
  color: #140906;
  border: solid;
}
