@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
.headerDiv {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #f5eee9;
  justify-content: center;
}
.logoDiv {
  display: flex;
  align-items: center;
}
.logo {
  width: 25px;
  height: 25px;
}

.brandName {
  font-family: "Concert One", serif;
  font-weight: 400;
  font-style: normal;
}
